[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]64[Ee][Cc]/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
debug
target

.vscode/*


**/mutants.out*/
**/*.rs.bk


*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.txt
*.pdb
*.sys
*.lib
*.dll
*.exe
*.obj
*.a
*.o
